<head>
    <link rel="stylesheet" href="http://127.0.0.1:5000/stylesheets/user/user-cart.css" />
</head>

<!-- Navbar -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark z-3 sticky-top">
    <div class="container-fluid">
        <button class="btn btn-dark d-md-none" id="menuToggle">
            <i class="bi bi-list fs-2"></i>
        </button>
        <a class="navbar-brand ms-5 py-0 my-0" href="/"><img src="http://127.0.0.1:5000/images/user/logo.webp"
                width="100px" alt=""></a>
        <div class="collapse navbar-collapse d-none d-md-block">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/shop">Shop</a></li>
                <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-cart"></i></a></li> <!-- Cart Icon -->
                <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-heart"></i></a></li>
                <!-- Heart Icon -->
                <li class="nav-item"><a class="nav-link" href="/account"><i class="bi bi-person"></i></a></li>
                <!-- Home Icon -->
            </ul>
        </div>
    </div>
</nav>

<!-- Sidebar (Appears on Medium & Smaller Screens) -->
<div class="sidebar z-3" id="sidebar">
    <div class="d-flex justify-content-between">
        <a class="navbar-brand ms-5 py-0 my-0" href="/"><img src="http://127.0.0.1:5000/images/user/logo.webp"
                width="100px" alt=""></a>
        <a href="#" class="close-btn text-end pe-3" id="closeSidebar">&times;</a>
    </div>
    <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/shop">Shop</a></li>
        <li class="nav-item"><a class="nav-link" href="#">About</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-cart"> Cart</i></a></li> <!-- Cart Icon -->
        <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-heart"> Whish List</i></a></li>
        <!-- Heart Icon -->
        <li class="nav-item"><a class="nav-link" href="/account"><i class="bi bi-person"> Account</i></a></li>
        <!-- Home Icon -->
    </ul>
</div>

<!-- Overlay for closing sidebar -->
<div class="menu-overlay" id="menuOverlay"></div>

{{!-- breadcrumbs --}}

<div class="container-fluid mt-2">



    <nav aria-label="breadcrumb">
        <div class="w-40 pt-1 ps-1">
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item "><a
                        class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                        href="/">Home</a></li>
                <li class="breadcrumb-item active">Cart</li>
            </ol>
        </div>
    </nav>



    <div class="card-body table-container">
        {{#if noItem}}
        <div class="alert alert-warning d-flex justify-content-center align-items-center my-3 py-5 " role="alert">
            <h5 class="my-4">No items in your cart.</h5>
        </div>
        <div class="d-flex justify-content-center align-items-center py-3">
            <a href="/"><button type="button" class="btn btn-outline-success">Continue Shopping</button></a>
        </div>
        {{else}}
        <div class="row">
            <div class="col-md-9">
                <table class="table table-striped ">

                    <thead>
                        <tr>

                            <th class="text-center">Product</th>
                            <th class="text-center">Colour : Size</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Quantity</th>
                            <th class="text-center">Total</th>

                        </tr>

                    </thead>
                    <tbody>
                        <div>
                            {{#each items}}
                            <tr>
                                <td class="align-middle justify-content-center">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <div class="card bg-transparent mx-auto" style="width: 6rem;">
                                            <a href="/productSingle?id={{productId}}"
                                                style="text-decoration: none;"><img
                                                    class="img-thumbnail  bg-transparent"
                                                    src="{{singleimageConver image}}" alt=""></a>
                                        </div>
                                        <p class="card-text text-center">{{name}}</p>
                                    </div>
                                </td>

                                <td class="align-middle text-center">{{selectedColor}} : {{size}}</td>

                                <td class="align-middle text-center">&#8377;{{price}}</td>

                                <td>
                                    <div class="d-flex my-5">
                                        {{!-- <input type="hidden" id="proId" value="{{productId}}"> --}}
                                        <div class="input-group quantity-control">
                                            {{#if (eqNum stock 0)}}
                                            <input type="text" class="form-control text-center" value="Out of Stock"
                                                disabled>
                                            {{else}}
                                            <button class="btn btn-outline-secondary" type="button"
                                                onclick="decButtonC('{{productId}}')" id="dec{{productId}}">-</button>
                                            <input type="text"
                                                class="form-control text-center border-top border-bottom border-black"
                                                data-stock="{{stock}}"
                                                value="{{#if (gt quantity stock)}}{{stock}}{{else}}{{quantity}}{{/if}}"
                                                max="{{#if (gtN stock 10)}}10{{else}}{{stock}}{{/if}}" min="1"
                                                id="{{productId}}" readonly>
                                            <button class="btn btn-outline-secondary" type="button"
                                                onclick="incButtonC('{{productId}}')" id="inc{{productId}}">+</button>
                                            {{/if}}
                                        </div>
                                        <button class="btn btn-outline-danger ms-3"
                                            onclick="deleteCart('{{productId}}')" id="delete"><i
                                                class="bi bi-trash"></i></button>
                                    </div>
                                </td>
                                <td class="align-middle text-center">{{totalPrice}}</td>

                            </tr>
                            {{/each}}
                        </div>
                    </tbody>
                </table>
            </div>
            {{/if}}{{#if noItem}}{{else}}
            <div class="col-md-3">
                <div class="card p-3 my-3">
                    <h5 class="mb-3">Cart Totals</h5>
                    <p class="d-flex justify-content-between">
                        <span>Total : </span> <strong>&#8377;{{totalAmount}}</strong>
                    </p>
                    <form action="/placeOder" method="post">
                        <input type="hidden" name="from" value="cart">
                        {{#if noStocks}}
                        <button onclick="outOfstock()" class="btn btn-dark w-100">Proceed to Checkout</button>
                        {{else}}
                        <button type="submit" class="btn btn-dark w-100">Proceed to Checkout</button>
                        {{/if}}
                    </form>
                </div>
            </div>
            {{/if}}
        </div>
    </div>



</div>




<footer class="bg-dark text-light py-5">
    <div class="container px-0 py-auto">
        <div class="row px-0">
            <div class="col-md-3 d-flex justify-content-center align-items-center">
                <a class="navbar-brand m-0 p-0 " href="#"><img src="http://127.0.0.1:5000/images/user/logo.webp"
                        width="160px" alt=""></a>
            </div>
            <div class="col-md-3">
                <h5>Categories</h5>
                <ul class="list-unstyled py-2 d-flex flex-column gap-2">
                    {{#each category}}
                    <li><a href="/shop/{{categoryName}}"
                            class="text-light text-decoration-none hover-link">{{categoryName}}</a></li>
                    {{/each}}
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Help</h5>
                <ul class="list-unstyled py-2 d-flex flex-column gap-2">
                    <li><a href="#" class="text-light text-decoration-none hover-link">Return & Order</a></li>
                    <li><a href="#" class="text-light text-decoration-none hover-link">FAQs</a></li>
                </ul>
            </div>
            <div class="col-md-3  d-flex flex-column gap-2 pe-0">
                <h5>Get in Touch</h5>
                <p>Contact us via social media:</p>
                <div class="social-icons">
                    <a href="#" class="text-light me-3 text-decoration-none ">
                        <i class="bi bi-facebook"></i>
                    </a>
                    <a href="#" class="text-light me-3 text-decoration-none">
                        <i class="bi bi-instagram"></i>
                    </a>
                    <a href="#" class="text-light me-3 text-decoration-none">
                        <i class="bi bi-linkedin"></i>
                    </a>
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=shamilshalusml@gmail.com&su=I have explored your online store, SML Bazaar."
                        target="_blank" class="text-light me-3 text-decoration-none">
                        <i class="bi bi-envelope"></i>
                    </a>
                    <a href="https://twitter.com/" target="_blank" class="text-light text-decoration-none">
                        <i class="bi bi-twitter"></i> <!-- Twitter Icon -->
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>




<script src="http://127.0.0.1:5000/javascripts/user/user-cart.js"></script>